<!-- Hero Section -->
<section class="hero-section d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-4">Welcome to gigUp</h1>
    <p class="lead">Your one-stop platform for finding freelance jobs and gigs.</p>
    <a href="/jobs" class="btn btn-primary btn-lg">Get Started</a>
  </div>
</section>

<!-- Features Section -->
<section class="container my-5">
  <h2 class="text-center mb-5">Features</h2>
  <div class="row text-center">
    <div class="col-md-3">
      <img src="/images/easy_to_use.jpg" class="feature-icon mb-3" alt="Easy to Use">
      <h4>Easy to Use</h4>
      <p>Find jobs and gigs easily with our user-friendly interface.</p>
    </div>
    <div class="col-md-3">
      <img src="/images/employer.jpg" class="feature-icon mb-3" alt="Verified Employers">
      <h4>Verified Employers</h4>
      <p>Work with verified employers to ensure safety and trust.</p>
    </div>
    <div class="col-md-3">
      <img src="/images/meeting.jpg" class="feature-icon mb-3" alt="Easy to Use">
      <h4>Professional Employees</h4>
      <p>Find jobs and gigs easily with our user-friendly interface.</p>
    </div>
    <div class="col-md-3">
      <img src="/images/support.jpg" class="feature-icon mb-3" alt="24/7 Support">
      <h4>24/7 Support</h4>
      <p>Our support team is available around the clock to assist you.</p>
    </div>
  </div>
</section>

<!-- Testimonials Section -->
<section class="testimonial text-center">
  <div class="container">
    <h2>What Our Users Say</h2>
    <div class="row mt-4">
      <div class="col-md-3">
        <blockquote class="blockquote">
          <p class="mb-3">gigUp has made finding freelance work so much easier. I love the platform!</p>
          <footer class="blockquote-footer">Abdul Rahman</footer>
        </blockquote>
      </div>
      <div class="col-md-3">
        <blockquote class="blockquote">
          <p class="mb-3">I found my dream job thanks to gigUp. Highly recommend!</p>
          <footer class="blockquote-footer">Moha</footer>
        </blockquote>
      </div>
      <div class="col-md-3">
        <blockquote class="blockquote">
          <p class="mb-3">The support team at gigUp is amazing. They helped me every step of the way.</p>
          <footer class="blockquote-footer">Ham</footer>
        </blockquote>
      </div>

      <div class="col-md-3">
        <blockquote class="blockquote">
          <p class="mb-3">gigUp provided me an opportunity to be my own boss.</p>
          <footer class="blockquote-footer">Sam</footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>