<div>
	<h3>Available Jobs:</h3>
	<a class="btn btn-primary" href="/jobs/new">Post a Job</a>
	<ul>
		<% for (const job of availableJobs) { %>
			<li>
				<a href="/jobs/<%= job._id %>">
					<%= job.title %>
				</a>
			</li>
			<% } %>
	</ul>
</div>